@import url('../../index.css');

.temporary-item-instead-history {
    margin: 30px auto;
}

.gallery {
    display: flex;
    max-width: 756px;
    flex-wrap: wrap;
}

.gallery_main-photo-wrapper {
    margin-bottom: 16px;
}

.gallery_main-photo {
    width: 756px;
    height: 577px;
    object-fit: contain;
}

.gallery_child-photo-wrapper:not(:last-child) {
    margin-right: 16px;
}

.gallery_child-photo {
    width: 177px;
    height: 195px;
    /* object-fit: contain; */
}