@import url('../../index.css');

.aside {
    max-width: 375px;
    flex-grow: 1;
}

.aside-title {
    box-sizing: border-box;
    background-color: var(--main-color-dark);
    padding: 23px 30px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    line-height: 24px;
    color: var(--main-color-light);
}

.multiview-page {
    display: flex;
}

.sort-dropdown {
    text-align: right;
    margin-bottom: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 812px;
}

.see-more-section {
    margin-bottom: 120px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}