@import url('../../index.css');

.aside {
    max-width: 375px;
    flex-grow: 1;
}

.multiview-page {
    display: flex;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 812px;
}

.see-more-section {
    margin-bottom: 120px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}