html {
    font-family: Montserrat;
    font-weight: 500;
}

.link {
    color: inherit;
}

.content-wrapper, .hero-wrapper, .location-section {
    /* max-width: 1584px; */
    max-width: 1184px;
    margin: 0 auto;
}

:root{
    --card-background: #FEFEFE;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-semibold: 700;
    --font-size-normal: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-extralarge: 24px;
    --main-color-dark: #141414;
    --main-color-light: #FFFFFF;
    --main-color-light-medium: #ECF1F2;
    --text-color-dark: #000000;
    --link-color: #E8AA31;
    /*
    colors: #ABABAB
    */
}